<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<bean id="mobCharger" class="com.gk.beans.MobilePhoneBatteryCharger"/>
<bean id="phone" class="com.gk.beans.MobilePhone">

<!--  Bad practice-->
<!-- <property name="beanId" value="mbCharger"/>-->
 
 <!--  Best practice-->
 <property name="beanId"> 
<idref bean="mobCharger"/>
</property>

</bean>

</beans>
