<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="myInit" default-destroy-method="myDestroy"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- cfg  dependent bean  -->
<bean id="handler" class="com.gk.bean.RequestHandler" scope="prototype"/>
<!-- target bean -->
<bean id="container" class="com.gk.bean.Webcontainer" scope="singleton">
<lookup-method name="getHandler" bean="handler"/>
</bean>
</beans>
